*{
	box-sizing: border-box;
}
body{
	font-family: 'Comic Neue', cursive;
	font-size: 17px;
	padding: 8px;
}
h2{
	text-align: center;
}
.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.col-25{
	-ms-flex: 25%;
	flex: 25%;
}
.col-50{
	-ms-flex: 50%;
	flex: 50%;
}
.col-75{
	-ms-flex: 75%;
	flex: 75%;
}
.col-25, .col-50, .col-75{
	padding: 0 16px;
}
.container{
	background-color: #cfcccc85;
	padding: 3px 18px 13px 18px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
input[type=text] {
	width: 100%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label{
	margin-bottom: 10px;
	display: block;
}
.icon-container{
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}
.btn{
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	border: none;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	font-size: 17px;
}
.btn:hover{
	background-color: #4CAF50;
}
a{
	border: 1px solid lightgrey;
}
.price{
	float: right;
	color: grey;
}
@media(max-width: 800px){
	.row{
		flex-direction: column-reverse;
	}
	.col-25{
		margin-bottom: 20px;
	}
}
/*navbar*/
.nav-menu{
	padding: 25px;
}
.fas{
	color: #634832;
}
.menu{
	font-size: 20px;
	letter-spacing: 1px;
	color: #634832;
	transition: all .4s;
}
.menu:hover{
	color: #dbc1ac;
}
.bar1, .bar2, .bar3{
	width: 23px;
	height: 3px;
	margin: 5px;
	transition: all .4s;
}
.nav-toggler{
	outline: none!important;
}
/*navbar end*/
/*footer*/
footer{
	background: #000;
	padding-top: 2%;
	margin-top: 15px;
	position: relative;
}
.text-center h4{
	color: #dbc1ac;
}
footer span{
	padding: 0.3em 0.7em;
	color: #dbc1ac;
	transition: all .5s ease;
}
footer p{
	color: #dbc1ac;
	font-size: 18px;
}
footer .top a{
	position: absolute;
	right: 2%;
	top: 69%;
	color: #dbc1ac;
	font-size: 20px;
}
/*footer end*/